#my-pic{
    border-radius: 50%;
}

.mar-max{
    margin: 200px 0px 200px 0px;
    padding: 20px;
    border: 3px solid red;

}

.mar-right-30 {
    margin-right: 30px;
}

#img-container {
    /* border: 3px solid yellow; */
}

#text-container {
    /* border: 3px solid cornflowerblue; */
    color: white; 
}

#buttons-container {
    /* border: 3px solid green; */
}

/* @media (min-width: 768px) {
    #buttons-container {
      display: flex;
      justify-content: center;
    }
  }
   */
