#contacto{
    padding: 50px 0px 0px 0px;
    background-color: black;
}

span {
    color: white;
}

.footer{
    font-weight: 600;
    color: white !important;
    text-align: center;
}

.contact-icons{
    margin: auto;
    text-align: center;
    color: white;
}

.extra-footer {
    background-color: black;
}

.react-icon{
    animation: rotateIcon 4s infinite linear;
}

@keyframes rotateIcon {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  a:hover{
    color: rgb(43, 181, 170) !important;
  }
