#habilidades{
    background-color: black;
    color: white !important;
    padding-bottom: 50px;
}

.title-2 {
    font-size: 35px;
    font-weight:800;
    text-align: center;
    color:white;
}

.brackets-2 {
    font-size: 35px;
    font-weight:800;
    text-align: center;
    color: #0dcaf0;
}
.mar-right-4 {
    margin-right: 4px !important;
}

.progress-b {
    background-color: #0dcaf0 !important;
}


