#more-about{
    color: black !important; 
    margin-bottom: 50px;
}

p {
    text-align: justify;
}

.title {
    font-size: 35px;
    font-weight:800;
    text-align: center;
    color:white;
}

.brackets {
    font-size: 35px;
    font-weight:800;
    text-align: center;
    color:#0dcaf0;
}

