@media (max-width: 991px) {
    .navbar-nav {
    background-color: black;
    border-radius: 10px;
      }
    .navbar-nav .nav-item .nav-link {
      padding: 8px;
    }
}

#navbarSupportedContent {
    position: relative;
}

ul{
    position: absolute;
    right: 0;
}

.navbar-nav .nav-item .nav-link {
    position: relative;
    text-decoration: none;
    color: #858585;
    border-bottom: 4px solid transparent; /* línea transparente por defecto */
    transition: border-color 0.3s; /* transición */
  }

.navbar-nav .nav-item .nav-link:hover {
    border-bottom-color: #0dcaf0;
    color: white;
}
