@media (max-width: 991px) {
    .navbar-nav {
    color: black;
    background-color: rgb(255, 255, 255);
      }
    .navbar-nav .nav-item .nav-link {
      padding: 8px;
    }
    .nav-link {
      padding: 10px 20px 10px 20px;
    }
    .nav-link:hover {
      color: white;
  }
}

#hamburger-menu{
  border: none !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' fill='none' stroke='black' stroke-width='2'><path stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
  background-size: contain;
}

#navbarSupportedContent {
    position: relative;
}

a {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 12px !important;
  color: black !important;
}

ul{
    position: absolute;
    right: 0;
}

.navbar-nav .nav-item .nav-link {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    border-bottom: 4px solid transparent; 
    transition: border-color 0.3s; 
  }

.navbar-nav .nav-item .nav-link:hover {
    border-bottom-color: #0dcaf0;
    color: white;
}

.fixed-top-nav {
  position: sticky;
  top: 0;
}
