
* {
    /* background-color: black; */
    font-family: 'Roboto', sans-serif;
    /* color: white; */
}

.bg-shared {
    /* Estilos para el fondo compartido */
    background-image: url('./images/keyboard.jpg') !important;
    background-repeat: no-repeat;
    background-size:cover;
    /* background-size: 100%; */
    background-position: center top;
    background-attachment: fixed;
    width: 100%;
    /* height: fit-content; */
    min-height: 100vh !important;
    
  }

  @media screen and (max-width: 767px) {
    .bg-shared {
      /* Estilos para el fondo compartido */
      /* background-image: url('./images/keyboard4.png') !important; */
      background-image: url('./images/keyboard8.png') !important;
      background-size: 125%;
      min-height: 100vh !important;
      padding-bottom: 10%;
      margin-top: auto !important;
      /* background-color: aqua !important; */
      /* border: 3px red solid; */
    }
  }
  

  .more-about-container {
    /* Estilos para la sección con el fondo diferente */
    background-color: white; /* o el color que sea para MoreAbout */
    width: 100%;
    min-height: 100%;
  }
  
  .arrow-icon{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
    z-index: 9999;
    color: #0dcaf0;
  }