* {
    /* background-color: black; */
    font-family: 'Roboto', sans-serif;
    /* color: white; */
}

.bg-shared {
    /* Estilos para el fondo compartido */
    background-image: url('./images/keyboard.avif');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    
  }
  .more-about-container {
    /* Estilos para la sección con el fondo diferente */
    background-color: white; /* o el color que desees para MoreAbout */
    width: 100%;
    min-height: 100vh;
  }
  