* {
    /* background-color: black; */
    font-family: 'Roboto', sans-serif;
    color: white;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Color oscuro para el efecto de opacidad */
    opacity: 0.5; /* Ajusta la opacidad según lo necesario (0.1 a 1) */
  }
